Booking System.json
{
  "name": "My workflow 14",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "030b3d06-02ac-43ea-ba11-b66c1800cfb6",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        112,
        0
      ],
      "id": "ba1f907f-7682-42c8-be0f-99c1bd038a45",
      "name": "Webhook",
      "webhookId": "030b3d06-02ac-43ea-ba11-b66c1800cfb6"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.message.toolCalls[0].function.name }}",
                    "rightValue": "Schedule",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ec4ff937-00b8-489c-9821-117459801d3f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Schedule"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "be2d80ac-e0b4-4c13-95f9-3c143c29b3a5",
                    "leftValue": "={{ $('Webhook').item.json.body.message.toolCalls[0].function.name }}",
                    "rightValue": "Reschedule",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Reschedule"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "88975e06-4e0a-4a62-82eb-206b1d964f4f",
                    "leftValue": "={{ $('Webhook').item.json.body.message.toolCalls[0].function.name }}",
                    "rightValue": "Cancel",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cancel"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        352,
        -16
      ],
      "id": "d0f38fdf-cb3f-4504-bf7b-57bc350361ba",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "2005fadiakl@gmail.com",
          "mode": "list",
          "cachedResultName": "2005fadiakl@gmail.com"
        },
        "timeMin": "={{ $json.body.message.toolCalls[0].function.arguments.BookingTime }}",
        "timeMax": "={{ DateTime.fromISO($json.body.message.toolCalls[0].function.arguments.BookingTime).setZone('utc').plus({ hours: 1 }).toISO({ suppressMilliseconds: true }) }}",
        "options": {
          "outputFormat": "raw",
          "timezone": {
            "__rl": true,
            "value": "Europe/Paris",
            "mode": "list",
            "cachedResultName": "Europe/Paris"
          }
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        608,
        -272
      ],
      "id": "37c54457-299d-46cc-bd6e-cdb5604294dc",
      "name": "Get availability in a calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "fP0vy8r0ecUHT5iy",
          "name": "Google Calendar account 4"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Busy list from Google Calendar\nconst busyList = $input.first().json.calendars['2005fadiakl@gmail.com'].busy;\n\n// 2. Get the ISO time from Vapi (e.g., \"2026-02-16T17:00:00Z\")\nconst rawArgs = $('Webhook').item.json.body.message.toolCalls[0].function.arguments;\nconst argsObject = typeof rawArgs === 'string' ? JSON.parse(rawArgs) : rawArgs;\nconst requestedStartStr = argsObject.BookingTime;\n\nif (!requestedStartStr) throw new Error(\"BookingTime is missing!\");\n\n// 3. Create Date objects directly (No splitting needed!)\nconst requestedStart = new Date(requestedStartStr);\nconst requestedEnd = new Date(requestedStart.getTime() + 60 * 60 * 1000); // +1 hour\n\n// 4. Overlap check\nconst hasConflict = busyList.some(b => {\n  const bStart = new Date(b.start);\n  const bEnd = new Date(b.end);\n  return requestedStart < bEnd && requestedEnd > bStart;\n});\n\nreturn {\n  json: {\n    available: !hasConflict,\n    debug_requested_start: requestedStart.toISOString(),\n    debug_requested_end: requestedEnd.toISOString(),\n    debug_busy_slots: busyList.length\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        -272
      ],
      "id": "eadc83ca-5c7e-4179-ba02-b21c22faf2dd",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.available }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    },
                    "id": "7b14298d-c3f3-41df-bf7a-8cdfe382667b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Available"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "76e6c380-400e-4dc6-9e98-3e7dc9f78f1d",
                    "leftValue": "={{ $json.available }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Unavailable"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1024,
        -272
      ],
      "id": "88150ffe-1c95-48ee-9ff2-3855e81298e9",
      "name": "Switch1"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "2005fadiakl@gmail.com",
          "mode": "list",
          "cachedResultName": "2005fadiakl@gmail.com"
        },
        "start": "={{ $json.debug_requested_start.replace('Z', '') }}",
        "end": "={{ $json.debug_requested_end.replace('Z', '') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1232,
        -368
      ],
      "id": "291137b9-2c8b-4ce7-a21e-950e1113b758",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "fP0vy8r0ecUHT5iy",
          "name": "Google Calendar account 4"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Busy list from Google Calendar\nconst busyList = $input.first().json.calendars['2005fadiakl@gmail.com'].busy;\n\n// Raw booking time (user input)\nconst raw = $('Webhook').item.json.body.message.toolCalls[0].function.arguments.BookingTime;\n// \"2025-10-13 12:00\"\n\n// Build requested slot explicitly in France time (+02:00 here)\nconst iso = raw.replace(' ', 'T') + ':00'; // 2025-10-13T12:00:00\nconst requestedStart = new Date(iso + '+02:00');\n\n// End = end of same day\nconst requestedEnd = new Date(requestedStart);\nrequestedEnd.setHours(23, 59, 59, 0);\n\n// Overlap check\nconst hasConflict = busyList.some(b => {\n  const bStart = new Date(b.start);\n  const bEnd = new Date(b.end);\n\n  return requestedStart < bEnd && requestedEnd > bStart;\n});\n\nreturn {\n  available: !hasConflict,\n  debug_requested_start: requestedStart.toISOString(),\n  debug_requested_end: requestedEnd.toISOString()\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        0
      ],
      "id": "8cf07772-ce7c-4121-a46c-75995f7f44ef",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.available }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    },
                    "id": "7b14298d-c3f3-41df-bf7a-8cdfe382667b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Available"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "76e6c380-400e-4dc6-9e98-3e7dc9f78f1d",
                    "leftValue": "={{ $json.available }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Unavailable"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1216,
        0
      ],
      "id": "b645d5a7-868d-4f71-aad8-7eeee5ac6528",
      "name": "Switch2"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "2005fadiakl@gmail.com",
          "mode": "list",
          "cachedResultName": "2005fadiakl@gmail.com"
        },
        "start": "={{ $('Switch').item.json.start_time }}",
        "end": "={{ DateTime.fromISO($('Switch').item.json.start_time, { zone: 'utc' }).plus({ hours: 1 }).toISO() }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1424,
        -112
      ],
      "id": "968be2fd-c465-491c-8d21-8c890dbdac8d",
      "name": "Create an event1",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "fP0vy8r0ecUHT5iy",
          "name": "Google Calendar account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "2005fadiakl@gmail.com",
          "mode": "list",
          "cachedResultName": "2005fadiakl@gmail.com"
        },
        "timeMin": "={{ $('Webhook').item.json.body.message.toolCalls[0].function.arguments.CurrentAppointmentTime }}",
        "timeMax": "={{ $('Webhook').item.json.body.message.toolCalls[0].function.arguments.NewAppointmentTime }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        608,
        0
      ],
      "id": "4f7890fa-c75e-4323-bc1a-917a9467e5aa",
      "name": "Get many events",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "fP0vy8r0ecUHT5iy",
          "name": "Google Calendar account 4"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b04e6a4a-2e13-470d-adce-a51bc532f0c3",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        816,
        0
      ],
      "id": "b14487c1-9aa4-487c-8362-e539c9eabe8d",
      "name": "Filter"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"results\": [\n    {\n      \"toolCallId\": \"{{ $('Webhook').item.json.body.message.toolCallList[0].id }}\",\n      \"result\": \"You're appointment for {{ $('Webhook').item.json.body.message.toolCalls[0].function.arguments.Reason }} for the {{ $('Webhook').item.json.body.message.toolCalls[0].function.arguments.BookingTime }} has been succesfuly scheduled\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1440,
        -368
      ],
      "id": "0464e51c-4945-4985-971e-132bff8f16d6",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0866b8f3-c82c-4472-a8ff-7e76019f4d74"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1648,
        -368
      ],
      "id": "2facedd7-aace-4869-9447-618addf0aa63",
      "name": "Switch3"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.thinqify.net",
            "user-agent": "axios/1.8.3",
            "content-length": "20823",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, br",
            "baggage": "sentry-environment=production,sentry-public_key=a0021577936aec367b16615ad816c078,sentry-trace_id=12894dc5c3484b5bab11fa55b60b285b",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "16.144.80.158",
            "cf-ipcountry": "US",
            "cf-ray": "9ce4eaeb8a1cef0c-PDX",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-warp-tag-id": "d41b1f89-827e-477a-864a-7419f10d536a",
            "connection": "keep-alive",
            "content-type": "application/json",
            "cookie": "callId=019c6156-7980-7770-92b4-2c91f030d13f",
            "sentry-trace": "12894dc5c3484b5bab11fa55b60b285b-959c50de3111966e",
            "x-call-id": "019c6156-7980-7770-92b4-2c91f030d13f",
            "x-forwarded-for": "16.144.80.158",
            "x-forwarded-proto": "https",
            "x-vapi-secret": ""
          },
          "params": {},
          "query": {},
          "body": {
            "message": {
              "timestamp": 1771159686880,
              "type": "tool-calls",
              "toolCalls": [
                {
                  "id": "call_tph3y09iElyVMuI9Fz1QIEYR",
                  "type": "function",
                  "function": {
                    "name": "Schedule",
                    "arguments": {
                      "CustomerName": "Ferdia",
                      "BookingTime": "2026-02-16T20:00:00Z"
                    }
                  }
                }
              ],
              "toolCallList": [
                {
                  "id": "call_tph3y09iElyVMuI9Fz1QIEYR",
                  "type": "function",
                  "function": {
                    "name": "Schedule",
                    "arguments": {
                      "CustomerName": "Ferdia",
                      "BookingTime": "2026-02-16T20:00:00Z"
                    }
                  }
                }
              ],
              "toolWithToolCallList": [
                {
                  "type": "function",
                  "function": {
                    "name": "Schedule",
                    "parameters": {
                      "type": "object",
                      "required": [],
                      "properties": {
                        "Reason": {
                          "type": "string",
                          "description": "This is the reason for the booking"
                        },
                        "BookingTime": {
                          "type": "string",
                          "default": "",
                          "description": "The time of appointment, formatted strictly as an ISO 8601 string in 24-hour time. Use the format: YYYY-MM-DDTHH:mm:ssZ"
                        },
                        "CustomerName": {
                          "type": "string",
                          "default": "",
                          "description": "The name of the customer"
                        }
                      }
                    },
                    "description": "when the user wants to book an appointment "
                  },
                  "async": false,
                  "server": {
                    "url": "https://n8n.thinqify.net/webhook/030b3d06-02ac-43ea-ba11-b66c1800cfb6",
                    "headers": {},
                    "timeoutSeconds": 20
                  },
                  "messages": [
                    {
                      "type": "request-start",
                      "contents": [],
                      "conditions": [],
                      "blocking": false
                    }
                  ],
                  "toolCall": {
                    "id": "call_tph3y09iElyVMuI9Fz1QIEYR",
                    "type": "function",
                    "function": {
                      "name": "Schedule",
                      "arguments": {
                        "CustomerName": "Ferdia",
                        "BookingTime": "2026-02-16T20:00:00Z"
                      }
                    }
                  }
                }
              ],
              "artifact": {
                "messages": [
                  {
                    "role": "system",
                    "message": "[IDENTITY]\nYou are “Restaurant Assistant”, a friendly, casual voice AI for a restaurant. Your main goals are to answer all questions about the restaurant, help guests make, modify, or cancel table reservations, and guide conversations naturally. Use the knowledge base for factual answers only. Speak as the assistant; never invent information.\n\n[HIGH-LEVEL RULES]\n\nThe current date and time is Feb 15, 2026, 12:46 PM UTC.\n\nKeep replies friendly, concise, and clear. Default: 1–2 sentences unless the user asks for more.\n\nStart with a direct answer or acknowledgment.\n\nUse “reservation” (never “booking” or “appointment”).\n\nUse “We” as a sentence opener when appropriate.\n\nNever mention internal logic, tools, or functions in speech.\n\nOffer up to 3 options, ask one question at a time.\n\nCollect all required details before creating, modifying, or canceling a reservation.\n\nReuse information the user already provided; never ask twice.\n\n[STYLE]\n\nTone: Friendly, casual, welcoming\n\nLanguage: Natural, s...",
                    "time": 1771159583280,
                    "secondsFromStart": 0
                  },
                  {
                    "role": "bot",
                    "message": "Hi, welcome to Luxury Estate. How can I help you?",
                    "time": 1771159585037,
                    "endTime": 1771159587356.9998,
                    "secondsFromStart": 1.6,
                    "duration": 2319.999755859375,
                    "source": ""
                  },
                  {
                    "role": "user",
                    "message": "Hello.",
                    "time": 1771159588457,
                    "endTime": 1771159588777,
                    "secondsFromStart": 5.02,
                    "duration": 320,
                    "metadata": {
                      "wordLevelConfidence": [
                        {
                          "word": "hello",
                          "start": 5.02,
                          "end": 5.34,
                          "confidence": 0.7763672,
                          "punctuated_word": "Hello."
                        }
                      ]
                    }
                  },
                  {
                    "role": "bot",
                    "message": "Hi there. How can I assist you today?",
                    "time": 1771159591687,
                    "endTime": 1771159593527,
                    "secondsFromStart": 8.25,
                    "duration": 1840,
                    "source": ""
                  },
                  {
                    "role": "user",
                    "message": "I would like to book an appointment, please.",
                    "time": 1771159595607,
                    "endTime": 1771159597287,
                    "secondsFromStart": 12.17,
                    "duration": 1680,
                    "metadata": {
                      "wordLevelConfidence": [
                        {
                          "word": "i",
                          "start": 12.17,
                          "end": 12.41,
                          "confidence": 0.43579102,
                          "punctuated_word": "I"
                        },
                        {
                          "word": "would",
                          "start": 12.41,
                          "end": 12.65,
                          "confidence": 0.984375,
                          "punctuated_word": "would"
                        },
                        {
                          "word": "like",
                          "start": 12.65,
                          "end": 12.73,
                          "confidence": 0.9980469,
                          "punctuated_word": "like"
                        },
                        {
                          "word": "to",
                          "start": 12.73,
                          "end": 12.889999,
                          "confidence": 0.9980469,
                          "punctuated_word": "to"
                        },
                        {
                          "word": "book",
                          "start": 12.889999,
                          "end": 13.05,
                          "confidence": 1,
                          "punctuated_word": "book"
                        },
                        {
                          "word": "an",
                          "start": 13.05,
                          "end": 13.21,
                          "confidence": 0.99902344,
                          "punctuated_word": "an"
                        },
                        {
                          "word": "appointment",
                          "start": 13.21,
                          "end": 13.690001,
                          "confidence": 0.9951172,
                          "punctuated_word": "appointment,"
                        },
                        {
                          "word": "please",
                          "start": 13.690001,
                          "end": 13.85,
                          "confidence": 0.9941406,
                          "punctuated_word": "please."
                        }
                      ]
                    }
                  },
                  {
                    "role": "bot",
                    "message": "Would you like me to make a reservation for you?",
                    "time": 1771159599047,
                    "endTime": 1771159601527,
                    "secondsFromStart": 15.61,
                    "duration": 2480,
                    "source": ""
                  },
                  {
                    "role": "user",
                    "message": "Yeah. Yeah. Yeah.",
                    "time": 1771159603177,
                    "endTime": 1771159604057,
                    "secondsFromStart": 19.74,
                    "duration": 880,
                    "metadata": {
                      "wordLevelConfidence": [
                        {
                          "word": "yeah",
                          "start": 19.74,
                          "end": 20.060001,
                          "confidence": 0.99609375,
                          "punctuated_word": "Yeah."
                        },
                        {
                          "word": "yeah",
                          "start": 20.060001,
                          "end": 20.460001,
                          "confidence": 0.99853516,
                          "punctuated_word": "Yeah."
                        },
                        {
                          "word": "yeah",
                          "start": 20.460001,
                          "end": 20.62,
                          "confidence": 0.99609375,
                          "punctuated_word": "Yeah."
                        }
                      ]
                    }
                  },
                  {
                    "role": "bot",
                    "message": "Great. May I have your full name, please?",
                    "time": 1771159606317,
                    "endTime": 1771159608317,
                    "secondsFromStart": 22.88,
                    "duration": 2000,
                    "source": ""
                  },
                  {
                    "role": "user",
                    "message": "30 hours.",
                    "time": 1771159611267,
                    "endTime": 1771159612067,
                    "secondsFromStart": 27.83,
                    "duration": 800,
                    "metadata": {
                      "wordLevelConfidence": [
                        {
                          "word": "30",
                          "start": 27.83,
                          "end": 28.31,
                          "confidence": 0.7001953,
                          "punctuated_word": "30"
                        },
                        {
                          "word": "hours",
                          "start": 28.31,
                          "end": 28.63,
                          "confidence": 0.6553955,
                          "punctuated_word": "hours."
                        }
                      ]
                    }
                  },
                  {
                    "role": "bot",
                    "message": "I didn't catch that. Could you please provide your full name for the reservation?",
                    "time": 1771159613317,
                    "endTime": 1771159617467,
                    "secondsFromStart": 29.88,
                    "duration": 4079.998046875,
                    "source": ""
                  },
                  {
                    "role": "user",
                    "message": "Good name. It's Ferdija.",
                    "time": 1771159624107,
                    "endTime": 1771159625386.997,
                    "secondsFromStart": 40.67,
                    "duration": 1279.9970703125,
                    "metadata": {
                      "wordLevelConfidence": [
                        {
                          "word": "good",
                          "start": 40.67,
                          "end": 41.07,
                          "confidence": 0.64746094,
                          "punctuated_word": "Good"
                        },
                        {
                          "word": "name",
                          "start": 41.07,
                          "end": 41.39,
                          "confidence": 0.90112305,
                          "punctuated_word": "name."
                        },
                        {
                          "word": "it's",
                          "start": 41.39,
                          "end": 41.55,
                          "confidence": 0.9904785,
                          "punctuated_word": "It's"
                        },
                        {
                          "word": "ferdija",
                          "start": 41.55,
                          "end": 41.949997,
                          "confidence": 0.40280762,
                          "punctuated_word": "Ferdija."
                        }
                      ]
                    }
                  },
                  {
                    "role": "bot",
                    "message": "Thank you, Ferdia. What date and time are you thinking of for your reservation?",
                    "time": 1771159626857,
                    "endTime": 1771159630537,
                    "secondsFromStart": 43.42,
                    "duration": 3680,
                    "source": ""
                  },
                  {
                    "role": "user",
                    "message": "Tomorrow at 8 PM.",
                    "time": 1771159646877.002,
                    "endTime": 1771159648397,
                    "secondsFromStart": 63.440001953125,
                    "duration": 1519.998046875,
                    "metadata": {
                      "wordLevelConfidence": [
                        {
                          "word": "tomorrow",
                          "start": 63.440002,
                          "end": 63.920002,
                          "confidence": 0.9951172,
                          "punctuated_word": "Tomorrow"
                        },
                        {
                          "word": "at",
                          "start": 63.920002,
                          "end": 64.32,
                          "confidence": 0.99609375,
                          "punctuated_word": "at"
                        },
                        {
                          "word": "8",
                          "start": 64.32,
                          "end": 64.64,
                          "confidence": 1,
                          "punctuated_word": "8"
                        },
                        {
                          "word": "pm",
                          "start": 64.64,
                          "end": 64.96,
                          "confidence": 0.8840332,
                          "punctuated_word": "PM."
                        }
                      ]
                    }
                  },
                  {
                    "role": "bot",
                    "message": "Got it. How many people will be in your party?",
                    "time": 1771159650067,
                    "endTime": 1771159652467,
                    "secondsFromStart": 66.63,
                    "duration": 2400,
                    "source": ""
                  },
                  {
                    "role": "user",
                    "message": "5",
                    "time": 1771159655107,
                    "endTime": 1771159655507,
                    "secondsFromStart": 71.67,
                    "duration": 400,
                    "metadata": {
                      "wordLevelConfidence": [
                        {
                          "word": "5",
                          "start": 71.67,
                          "end": 72.07,
                          "confidence": 0.7714844,
                          "punctuated_word": "5"
                        }
                      ]
                    }
                  },
                  {
                    "role": "bot",
                    "message": "Alright. What's the phone number for confirmation?",
                    "time": 1771159659977,
                    "endTime": 1771159662397,
                    "secondsFromStart": 76.54,
                    "duration": 2319.993896484375,
                    "source": ""
                  },
                  {
                    "role": "user",
                    "message": "0 7 5 9 5 1 8 8 4 4.",
                    "time": 1771159669387,
                    "endTime": 1771159672927.005,
                    "secondsFromStart": 85.95,
                    "duration": 3540.0048828125,
                    "metadata": {
                      "wordLevelConfidence": [
                        {
                          "word": "0",
                          "start": 85.95,
                          "end": 86.35,
                          "confidence": 0.66796875,
                          "punctuated_word": "0"
                        },
                        {
                          "word": "7",
                          "start": 86.35,
                          "end": 86.83,
                          "confidence": 1,
                          "punctuated_word": "7"
                        },
                        {
                          "word": "5",
                          "start": 86.83,
                          "end": 87.31,
                          "confidence": 1,
                          "punctuated_word": "5"
                        },
                        {
                          "word": "9",
                          "start": 87.31,
                          "end": 87.549995,
                          "confidence": 1,
                          "punctuated_word": "9"
                        },
                        {
                          "word": "5",
                          "start": 87.73,
                          "end": 88.130005,
                          "confidence": 1,
                          "punctuated_word": "5"
                        },
                        {
                          "word": "1",
                          "start": 88.130005,
                          "end": 88.53001,
                          "confidence": 1,
                          "punctuated_word": "1"
                        },
                        {
                          "word": "8",
                          "start": 88.53001,
                          "end": 88.850006,
                          "confidence": 1,
                          "punctuated_word": "8"
                        },
                        {
                          "word": "8",
                          "start": 88.850006,
                          "end": 89.090004,
                          "confidence": 1,
                          "punctuated_word": "8"
                        },
                        {
                          "word": "4",
                          "start": 89.090004,
                          "end": 89.33,
                          "confidence": 1,
                          "punctuated_word": "4"
                        },
                        {
                          "word": "4",
                          "start": 89.33,
                          "end": 89.490005,
                          "confidence": 0.99658203,
                          "punctuated_word": "4."
                        }
                      ]
                    }
                  },
                  {
                    "role": "bot",
                    "message": "Just to confirm, for Dia, table for 5, tomorrow at 8 PM. Should I go ahead and reserve it?",
                    "time": 1771159674637,
                    "endTime": 1771159679346.996,
                    "secondsFromStart": 91.2,
                    "duration": 4709.99609375,
                    "source": ""
                  },
                  {
                    "role": "user",
                    "message": "Yes.",
                    "time": 1771159682027,
                    "endTime": 1771159682346.996,
                    "secondsFromStart": 98.59,
                    "duration": 319.99609375,
                    "metadata": {
                      "wordLevelConfidence": [
                        {
                          "word": "yes",
                          "start": 98.59,
                          "end": 98.909996,
                          "confidence": 0.9797363,
                          "punctuated_word": "Yes."
                        }
                      ]
                    }
                  },
                  {
                    "toolCalls": [
                      {
                        "id": "call_tph3y09iElyVMuI9Fz1QIEYR",
                        "type": "function",
                        "function": {
                          "name": "Schedule",
                          "arguments": "{\n  \"CustomerName\": \"Ferdia\",\n  \"BookingTime\": \"2026-02-16T20:00:00Z\"\n}"
                        }
                      }
                    ],
                    "role": "tool_calls",
                    "message": "",
                    "time": 1771159686877,
                    "secondsFromStart": 103.44
                  }
                ],
                "messagesOpenAIFormatted": [
                  {
                    "role": "system",
                    "content": "[IDENTITY]\nYou are “Restaurant Assistant”, a friendly, casual voice AI for a restaurant. Your main goals are to answer all questions about the restaurant, help guests make, modify, or cancel table reservations, and guide conversations naturally. Use the knowledge base for factual answers only. Speak as the assistant; never invent information.\n\n[HIGH-LEVEL RULES]\n\nThe current date and time is Feb 15, 2026, 12:46 PM UTC.\n\nKeep replies friendly, concise, and clear. Default: 1–2 sentences unless the user asks for more.\n\nStart with a direct answer or acknowledgment.\n\nUse “reservation” (never “booking” or “appointment”).\n\nUse “We” as a sentence opener when appropriate.\n\nNever mention internal logic, tools, or functions in speech.\n\nOffer up to 3 options, ask one question at a time.\n\nCollect all required details before creating, modifying, or canceling a reservation.\n\nReuse information the user already provided; never ask twice.\n\n[STYLE]\n\nTone: Friendly, casual, welcoming\n\nLanguage: Natural, s..."
                  },
                  {
                    "role": "assistant",
                    "content": "Hi, welcome to Luxury Estate. How can I help you?"
                  },
                  {
                    "role": "user",
                    "content": "Hello."
                  },
                  {
                    "role": "assistant",
                    "content": "Hi there. How can I assist you today?"
                  },
                  {
                    "role": "user",
                    "content": "I would like to book an appointment, please."
                  },
                  {
                    "role": "assistant",
                    "content": "Would you like me to make a reservation for you?"
                  },
                  {
                    "role": "user",
                    "content": "Yeah. Yeah. Yeah."
                  },
                  {
                    "role": "assistant",
                    "content": "Great. May I have your full name, please?"
                  },
                  {
                    "role": "user",
                    "content": "30 hours."
                  },
                  {
                    "role": "assistant",
                    "content": "I didn't catch that. Could you please provide your full name for the reservation?"
                  },
                  {
                    "role": "user",
                    "content": "Good name. It's Ferdija."
                  },
                  {
                    "role": "assistant",
                    "content": "Thank you, Ferdia. What date and time are you thinking of for your reservation?"
                  },
                  {
                    "role": "user",
                    "content": "Tomorrow at 8 PM."
                  },
                  {
                    "role": "assistant",
                    "content": "Got it. How many people will be in your party?"
                  },
                  {
                    "role": "user",
                    "content": "5"
                  },
                  {
                    "role": "assistant",
                    "content": "Alright. What's the phone number for confirmation?"
                  },
                  {
                    "role": "user",
                    "content": "0 7 5 9 5 1 8 8 4 4."
                  },
                  {
                    "role": "assistant",
                    "content": "Just to confirm, for Dia, table for 5, tomorrow at 8 PM. Should I go ahead and reserve it?"
                  },
                  {
                    "role": "user",
                    "content": "Yes."
                  },
                  {
                    "role": "assistant",
                    "tool_calls": [
                      {
                        "id": "call_tph3y09iElyVMuI9Fz1QIEYR",
                        "type": "function",
                        "function": {
                          "name": "Schedule",
                          "arguments": "{\n  \"CustomerName\": \"Ferdia\",\n  \"BookingTime\": \"2026-02-16T20:00:00Z\"\n}"
                        }
                      }
                    ]
                  },
                  {
                    "role": "tool",
                    "tool_call_id": "call_tph3y09iElyVMuI9Fz1QIEYR",
                    "content": "Tool Result Still Pending But Proceed Further If Possible."
                  }
                ]
              },
              "call": {
                "id": "019c6156-7980-7770-92b4-2c91f030d13f",
                "orgId": "6610f904-8b62-44fb-84d9-4fd0422958a6",
                "createdAt": "2026-02-15T12:46:23.104Z",
                "updatedAt": "2026-02-15T12:46:23.104Z",
                "type": "webCall",
                "cost": 0,
                "monitor": {
                  "listenUrl": "wss://phone-call-websocket.aws-us-west-2-backend-production1.vapi.ai/019c6156-7980-7770-92b4-2c91f030d13f/listen",
                  "controlUrl": "https://phone-call-websocket.aws-us-west-2-backend-production1.vapi.ai/019c6156-7980-7770-92b4-2c91f030d13f/control"
                },
                "transport": {
                  "conversationType": "voice",
                  "provider": "daily",
                  "videoRecordingEnabled": false,
                  "assistantVideoEnabled": false,
                  "roomDeleteOnUserLeaveEnabled": true,
                  "callUrl": "https://vapi.daily.co/ZWBmzCcg5ba9YP2lg060"
                },
                "webCallUrl": "https://vapi.daily.co/ZWBmzCcg5ba9YP2lg060",
                "status": "queued",
                "assistantId": "455fc9da-8913-4fd5-a315-e1bf8ce4ae8d",
                "assistantOverrides": {
                  "clientMessages": [
                    "transcript",
                    "hang",
                    "metadata",
                    "tool-calls",
                    "tool-calls-result",
                    "tool.completed",
                    "transfer-update",
                    "user-interrupted",
                    "status-update",
                    "assistant.started"
                  ],
                  "variableValues": {}
                }
              },
              "assistant": {
                "id": "455fc9da-8913-4fd5-a315-e1bf8ce4ae8d",
                "orgId": "6610f904-8b62-44fb-84d9-4fd0422958a6",
                "name": "Restaurant Reservation",
                "voice": {
                  "model": "eleven_multilingual_v2",
                  "speed": 1,
                  "voiceId": "Kq9pDHHIMmJsG9PEqOtv",
                  "provider": "11labs",
                  "stability": 0.4,
                  "similarityBoost": 0.8,
                  "inputPunctuationBoundaries": [
                    "!",
                    "?",
                    ".",
                    "，"
                  ]
                },
                "createdAt": "2025-05-10T13:42:12.775Z",
                "updatedAt": "2026-02-14T10:29:02.948Z",
                "model": {
                  "model": "gpt-4o-mini",
                  "toolIds": [
                    "92f4fc58-8f55-4c02-ad3c-28e7cc8838bf",
                    "83c65801-4b80-4c23-9453-5da9dc451012",
                    "fcba4843-0b38-44d7-89e8-8bea490ed091"
                  ],
                  "messages": [
                    {
                      "role": "system",
                      "content": "[IDENTITY]\nYou are “Restaurant Assistant”, a friendly, casual voice AI for a restaurant. Your main goals are to answer all questions about the restaurant, help guests make, modify, or cancel table reservations, and guide conversations naturally. Use the knowledge base for factual answers only. Speak as the assistant; never invent information.\n\n[HIGH-LEVEL RULES]\n\nThe current date and time is Feb 15, 2026, 12:46 PM UTC.\n\nKeep replies friendly, concise, and clear. Default: 1–2 sentences unless the user asks for more.\n\nStart with a direct answer or acknowledgment.\n\nUse “reservation” (never “booking” or “appointment”).\n\nUse “We” as a sentence opener when appropriate.\n\nNever mention internal logic, tools, or functions in speech.\n\nOffer up to 3 options, ask one question at a time.\n\nCollect all required details before creating, modifying, or canceling a reservation.\n\nReuse information the user already provided; never ask twice.\n\n[STYLE]\n\nTone: Friendly, casual, welcoming\n\nLanguage: Natural, simple, conversational\n\nUse short lists only when offering multiple options\n\nGuide gently toward reservations only if the user shows interest\n\nCTAs should feel optional and relaxed\n\n[RESPONSE GUIDELINES]\n\nFactual questions:\nGive a short, clear answer. Optionally add a soft CTA.\nExample:\n“Yes, we’re open every day from noon to eleven. Want me to check availability for a table?”\n\nMenu questions:\nAnswer clearly; summarize when long. Offer to help with a reservation only if relevant.\n\nUnknown information:\n“I don’t have that info on hand, but I can help with reservations or answer something else if you’d like.”\n\nDates & times:\nSpeak naturally (e.g., “Friday at seven thirty PM”). Internally assume year 2025.\n\n[TASK / CONVERSATION FLOWS]\n\nReservation(Schedule Function)\n\nAsk gently:\n“Would you like me to make a reservation for you?” ⟶ wait\n\nIf yes, collect in order (only if missing):\na. “May I have your full name?” ⟶ wait\nb. “What date and time are you thinking of?” ⟶ wait\nc. “For how many people?” ⟶ wait\nd. “What’s the best phone number for confirmation?” ⟶ wait\n\nConfirm:\n“Just to confirm: [Name], table for [Party Size], [spoken date and time]. Should I go ahead and reserve it?” ⟶ wait\n\nTrigger reservation silently once confirmed. Report outcome.\n\nModify Reservation(Reschedule Function)\n\nAsk for full name if unknown\n\nAsk what needs to change (date, time, party size)\n\nConfirm updated details\n\nTrigger modification silently and report result\n\nCancel Reservation(Cancel Function)\n\nAsk for full name if unknown\n\nAsk which reservation/date\n\nConfirm cancellation\n\nTrigger cancel silently and report result\n\n[GENERAL CONVERSATION]\n\nAnswer social questions (ambience, vibe, occasions, recommendations) naturally\n\nDo not upsell aggressively\n\nRespect a clear “no” immediately\n\n[ERROR & CLARITY HANDLING]\n\nUnclear input → ask one targeted clarifying question\n\nAfter repeated confusion → politely suggest human follow-up without mentioning systems\n\nNever expose internal processes or failures\n\n[PROHIBITIONS & SAFEGUARDS]\n\nNever invent menu items, prices, availability, or policies\n\nDo not discuss delivery, takeaway, or order status\n\nDo not continue pushing reservations after a refusal\n\nNever reveal internal logic or backend behavior\n\n[EXAMPLE USER-FACING RESPONSES]\n\nMenu inquiry:\n“Sure! We offer several vegetarian options, including a grilled vegetable pasta and a seasonal salad.”\n\nReservation confirmation:\n“Confirming: Alex Martin, table for four, Friday at seven thirty PM. Want me to reserve that?”"
                    }
                  ],
                  "provider": "openai",
                  "temperature": 0.6,
                  "tools": [
                    {
                      "id": "92f4fc58-8f55-4c02-ad3c-28e7cc8838bf",
                      "createdAt": "2025-05-21T21:32:52.808Z",
                      "updatedAt": "2025-12-18T15:42:59.114Z",
                      "type": "function",
                      "function": {
                        "name": "Cancel",
                        "parameters": {
                          "type": "object",
                          "required": [],
                          "properties": {
                            "customerName": {
                              "type": "string",
                              "description": "This is the users name"
                            },
                            "CurrentAppointmentTime": {
                              "type": "string",
                              "description": "This is the users appointment time the format is DD-MM-YYYY hh:mm A"
                            }
                          }
                        },
                        "description": "When the user wants to cancel an appointment they have."
                      },
                      "messages": [
                        {
                          "type": "request-start",
                          "blocking": false
                        }
                      ],
                      "orgId": "6610f904-8b62-44fb-84d9-4fd0422958a6",
                      "server": {
                        "url": "https://n8n.thinqify.net/webhook/030b3d06-02ac-43ea-ba11-b66c1800cfb6",
                        "headers": {},
                        "timeoutSeconds": 20
                      },
                      "async": false
                    },
                    {
                      "id": "83c65801-4b80-4c23-9453-5da9dc451012",
                      "createdAt": "2025-05-21T20:10:34.712Z",
                      "updatedAt": "2026-02-15T12:24:53.035Z",
                      "type": "function",
                      "function": {
                        "name": "Reschedule",
                        "parameters": {
                          "type": "object",
                          "required": [],
                          "properties": {
                            "customerName": {
                              "type": "string",
                              "description": ""
                            },
                            "NewAppointmentTime": {
                              "type": "string",
                              "default": "",
                              "description": "The new time the user wants to schedule, formatted strictly as an ISO 8601 string in 24-hour time. Use the format: YYYY-MM-DDTHH:mm:ssZ"
                            },
                            "CurrentAppointmentTime": {
                              "type": "string",
                              "default": "",
                              "description": "The original time of the client, formatted strictly as an ISO 8601 string in 24-hour time. Use the format: YYYY-MM-DDTHH:mm:ssZ"
                            }
                          }
                        }
                      },
                      "messages": [
                        {
                          "type": "request-start",
                          "blocking": false
                        }
                      ],
                      "orgId": "6610f904-8b62-44fb-84d9-4fd0422958a6",
                      "server": {
                        "url": "https://n8n.thinqify.net/webhook/030b3d06-02ac-43ea-ba11-b66c1800cfb6",
                        "headers": {},
                        "timeoutSeconds": 20
                      },
                      "async": false
                    },
                    {
                      "id": "fcba4843-0b38-44d7-89e8-8bea490ed091",
                      "createdAt": "2025-05-14T07:19:28.096Z",
                      "updatedAt": "2026-02-15T12:34:29.030Z",
                      "type": "function",
                      "function": {
                        "name": "Schedule",
                        "parameters": {
                          "type": "object",
                          "required": [],
                          "properties": {
                            "Reason": {
                              "type": "string",
                              "description": "This is the reason for the booking"
                            },
                            "BookingTime": {
                              "type": "string",
                              "default": "",
                              "description": "The time of appointment, formatted strictly as an ISO 8601 string in 24-hour time. Use the format: YYYY-MM-DDTHH:mm:ssZ"
                            },
                            "CustomerName": {
                              "type": "string",
                              "default": "",
                              "description": "The name of the customer"
                            }
                          }
                        },
                        "description": "when the user wants to book an appointment "
                      },
                      "messages": [
                        {
                          "type": "request-start",
                          "blocking": false
                        }
                      ],
                      "orgId": "6610f904-8b62-44fb-84d9-4fd0422958a6",
                      "server": {
                        "url": "https://n8n.thinqify.net/webhook/030b3d06-02ac-43ea-ba11-b66c1800cfb6",
                        "headers": {},
                        "timeoutSeconds": 20
                      },
                      "async": false
                    }
                  ]
                },
                "firstMessage": "Hi welcome to luxury estate how can i help you ",
                "voicemailMessage": "Please call back when you're available.",
                "endCallMessage": "Goodbye.",
                "transcriber": {
                  "model": "nova-3",
                  "language": "en",
                  "numerals": false,
                  "provider": "deepgram",
                  "confidenceThreshold": 0.4
                },
                "clientMessages": [
                  "conversation-update",
                  "function-call",
                  "hang",
                  "model-output",
                  "speech-update",
                  "status-update",
                  "transfer-update",
                  "transcript",
                  "tool-calls",
                  "user-interrupted",
                  "voice-input",
                  "workflow.node.started",
                  "metadata",
                  "tool-calls-result",
                  "tool.completed",
                  "assistant.started"
                ],
                "serverMessages": [
                  "conversation-update",
                  "end-of-call-report",
                  "function-call",
                  "hang",
                  "speech-update",
                  "status-update",
                  "tool-calls",
                  "transfer-destination-request",
                  "user-interrupted"
                ],
                "hipaaEnabled": false,
                "backgroundSound": "office",
                "backgroundDenoisingEnabled": true,
                "startSpeakingPlan": {
                  "waitSeconds": 0.4,
                  "smartEndpointingPlan": {
                    "provider": "livekit",
                    "waitFunction": "20 + 500 * sqrt(x) + 2500 * x^3"
                  },
                  "transcriptionEndpointingPlan": {
                    "onNumberSeconds": 0.5,
                    "onPunctuationSeconds": 0.1,
                    "onNoPunctuationSeconds": 1.5
                  }
                },
                "variableValues": {}
              }
            }
          },
          "webhookUrl": "https://n8n.thinqify.net/webhook/030b3d06-02ac-43ea-ba11-b66c1800cfb6",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get availability in a calendar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Get availability in a calendar": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Create an event1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event1": {
      "main": [
        []
      ]
    },
    "Get many events": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timezone": "Europe/Paris",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "ac3c55d8-62c0-4224-8dea-ae161708c0c4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "67398753aca36f6d4dfdb77aa92d3e97d4d631fc9619fadc429337f69213b33b"
  },
  "id": "MmawFmf1C1HbNzya",
  "tags": []
}