make-com/apify-outreach-system/OUTREACH.blueprint.json
{
    "name": "OUTREACH",
    "flow": [
        {
            "id": 1,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 7664754
            },
            "mapper": {
                "from": "drive",
                "filter": [
                    [
                        {
                            "a": "W",
                            "o": "exist"
                        }
                    ]
                ],
                "sheetId": "dataset_leads-finder_2025-11-10_18-34-01-678.csv",
                "sortOrder": "asc",
                "spreadsheetId": "14e7QX6VYk1vyBk5CennUUM5UJhwo1M7Whwz3YEDSvpY",
                "tableFirstRow": "A1:CZ1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": 11,
                    "y": -1
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "Select from My Drive"
                        },
                        "orderBy": {
                            "mode": "chose"
                        },
                        "sheetId": {
                            "mode": "chose",
                            "label": "dataset_leads-finder_2025-11-10_18-34-01-678.csv"
                        },
                        "sortOrder": {
                            "mode": "chose",
                            "label": "Ascending"
                        },
                        "spreadsheetId": {
                            "mode": "chose",
                            "label": "dataset_leads-finder_2025-11-10_18-34-01-678"
                        },
                        "tableFirstRow": {
                            "label": "A-CZ"
                        },
                        "includesHeaders": {
                            "mode": "chose",
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (2005fadiakl@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share"
                            ]
                        }
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1",
                                "A1:AZZ1",
                                "A1:BZZ1",
                                "A1:CZZ1",
                                "A1:DZZ1",
                                "A1:MZZ1",
                                "A1:ZZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "label": "Total number of bundles",
                        "type": "uinteger"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "label": "Bundle order position",
                        "type": "uinteger"
                    },
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "city (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "company_annual_revenue (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "company_annual_revenue_clean (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "company_city (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "company_country (E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "company_description (F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "company_domain (G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "company_founded_year (H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "company_full_address (I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "company_linkedin (J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "company_linkedin_uid (K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "company_name (L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "company_phone (M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "company_postal_code (N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "company_size (O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "company_state (P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "company_street_address (Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "company_technologies (R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "company_total_funding (S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "company_total_funding_clean (T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "company_website (U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "country (V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "email (W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "first_name (X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "full_name (Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "functional_level (Z)"
                    },
                    {
                        "name": "26",
                        "type": "text",
                        "label": "headline (AA)"
                    },
                    {
                        "name": "27",
                        "type": "text",
                        "label": "industry (AB)"
                    },
                    {
                        "name": "28",
                        "type": "text",
                        "label": "job_title (AC)"
                    },
                    {
                        "name": "29",
                        "type": "text",
                        "label": "keywords (AD)"
                    },
                    {
                        "name": "30",
                        "type": "text",
                        "label": "last_name (AE)"
                    },
                    {
                        "name": "31",
                        "type": "text",
                        "label": "linkedin (AF)"
                    },
                    {
                        "name": "32",
                        "type": "text",
                        "label": "personal_email (AG)"
                    },
                    {
                        "name": "33",
                        "type": "text",
                        "label": "seniority_level (AH)"
                    },
                    {
                        "name": "34",
                        "type": "text",
                        "label": "state (AI)"
                    },
                    {
                        "name": "35",
                        "type": "text",
                        "label": "(AJ)"
                    },
                    {
                        "name": "36",
                        "type": "text",
                        "label": "(AK)"
                    },
                    {
                        "name": "37",
                        "type": "text",
                        "label": "(AL)"
                    },
                    {
                        "name": "38",
                        "type": "text",
                        "label": "(AM)"
                    },
                    {
                        "name": "39",
                        "type": "text",
                        "label": "(AN)"
                    },
                    {
                        "name": "40",
                        "type": "text",
                        "label": "(AO)"
                    },
                    {
                        "name": "41",
                        "type": "text",
                        "label": "(AP)"
                    },
                    {
                        "name": "42",
                        "type": "text",
                        "label": "(AQ)"
                    },
                    {
                        "name": "43",
                        "type": "text",
                        "label": "(AR)"
                    },
                    {
                        "name": "44",
                        "type": "text",
                        "label": "(AS)"
                    },
                    {
                        "name": "45",
                        "type": "text",
                        "label": "(AT)"
                    },
                    {
                        "name": "46",
                        "type": "text",
                        "label": "(AU)"
                    },
                    {
                        "name": "47",
                        "type": "text",
                        "label": "(AV)"
                    },
                    {
                        "name": "48",
                        "type": "text",
                        "label": "(AW)"
                    },
                    {
                        "name": "49",
                        "type": "text",
                        "label": "(AX)"
                    },
                    {
                        "name": "50",
                        "type": "text",
                        "label": "(AY)"
                    },
                    {
                        "name": "51",
                        "type": "text",
                        "label": "(AZ)"
                    },
                    {
                        "name": "52",
                        "type": "text",
                        "label": "(BA)"
                    },
                    {
                        "name": "53",
                        "type": "text",
                        "label": "(BB)"
                    },
                    {
                        "name": "54",
                        "type": "text",
                        "label": "(BC)"
                    },
                    {
                        "name": "55",
                        "type": "text",
                        "label": "(BD)"
                    },
                    {
                        "name": "56",
                        "type": "text",
                        "label": "(BE)"
                    },
                    {
                        "name": "57",
                        "type": "text",
                        "label": "(BF)"
                    },
                    {
                        "name": "58",
                        "type": "text",
                        "label": "(BG)"
                    },
                    {
                        "name": "59",
                        "type": "text",
                        "label": "(BH)"
                    },
                    {
                        "name": "60",
                        "type": "text",
                        "label": "(BI)"
                    },
                    {
                        "name": "61",
                        "type": "text",
                        "label": "(BJ)"
                    },
                    {
                        "name": "62",
                        "type": "text",
                        "label": "(BK)"
                    },
                    {
                        "name": "63",
                        "type": "text",
                        "label": "(BL)"
                    },
                    {
                        "name": "64",
                        "type": "text",
                        "label": "(BM)"
                    },
                    {
                        "name": "65",
                        "type": "text",
                        "label": "(BN)"
                    },
                    {
                        "name": "66",
                        "type": "text",
                        "label": "(BO)"
                    },
                    {
                        "name": "67",
                        "type": "text",
                        "label": "(BP)"
                    },
                    {
                        "name": "68",
                        "type": "text",
                        "label": "(BQ)"
                    },
                    {
                        "name": "69",
                        "type": "text",
                        "label": "(BR)"
                    },
                    {
                        "name": "70",
                        "type": "text",
                        "label": "(BS)"
                    },
                    {
                        "name": "71",
                        "type": "text",
                        "label": "(BT)"
                    },
                    {
                        "name": "72",
                        "type": "text",
                        "label": "(BU)"
                    },
                    {
                        "name": "73",
                        "type": "text",
                        "label": "(BV)"
                    },
                    {
                        "name": "74",
                        "type": "text",
                        "label": "(BW)"
                    },
                    {
                        "name": "75",
                        "type": "text",
                        "label": "(BX)"
                    },
                    {
                        "name": "76",
                        "type": "text",
                        "label": "(BY)"
                    },
                    {
                        "name": "77",
                        "type": "text",
                        "label": "(BZ)"
                    },
                    {
                        "name": "78",
                        "type": "text",
                        "label": "(CA)"
                    },
                    {
                        "name": "79",
                        "type": "text",
                        "label": "(CB)"
                    },
                    {
                        "name": "80",
                        "type": "text",
                        "label": "(CC)"
                    },
                    {
                        "name": "81",
                        "type": "text",
                        "label": "(CD)"
                    },
                    {
                        "name": "82",
                        "type": "text",
                        "label": "(CE)"
                    },
                    {
                        "name": "83",
                        "type": "text",
                        "label": "(CF)"
                    },
                    {
                        "name": "84",
                        "type": "text",
                        "label": "(CG)"
                    },
                    {
                        "name": "85",
                        "type": "text",
                        "label": "(CH)"
                    },
                    {
                        "name": "86",
                        "type": "text",
                        "label": "(CI)"
                    },
                    {
                        "name": "87",
                        "type": "text",
                        "label": "(CJ)"
                    },
                    {
                        "name": "88",
                        "type": "text",
                        "label": "(CK)"
                    },
                    {
                        "name": "89",
                        "type": "text",
                        "label": "(CL)"
                    },
                    {
                        "name": "90",
                        "type": "text",
                        "label": "(CM)"
                    },
                    {
                        "name": "91",
                        "type": "text",
                        "label": "(CN)"
                    },
                    {
                        "name": "92",
                        "type": "text",
                        "label": "(CO)"
                    },
                    {
                        "name": "93",
                        "type": "text",
                        "label": "(CP)"
                    },
                    {
                        "name": "94",
                        "type": "text",
                        "label": "(CQ)"
                    },
                    {
                        "name": "95",
                        "type": "text",
                        "label": "(CR)"
                    },
                    {
                        "name": "96",
                        "type": "text",
                        "label": "(CS)"
                    },
                    {
                        "name": "97",
                        "type": "text",
                        "label": "(CT)"
                    },
                    {
                        "name": "98",
                        "type": "text",
                        "label": "(CU)"
                    },
                    {
                        "name": "99",
                        "type": "text",
                        "label": "(CV)"
                    },
                    {
                        "name": "100",
                        "type": "text",
                        "label": "(CW)"
                    },
                    {
                        "name": "101",
                        "type": "text",
                        "label": "(CX)"
                    },
                    {
                        "name": "102",
                        "type": "text",
                        "label": "(CY)"
                    },
                    {
                        "name": "103",
                        "type": "text",
                        "label": "(CZ)"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "scope": "roundtrip",
                "variables": [
                    {
                        "name": "full name",
                        "value": "{{1.`24`}}"
                    },
                    {
                        "name": "company name",
                        "value": "{{1.`11`}}"
                    },
                    {
                        "name": "title",
                        "value": "{{1.`28`}}"
                    },
                    {
                        "name": "linkedin",
                        "value": "{{1.`31`}}"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        },
                        "variables": {
                            "items": [
                                null,
                                null,
                                null,
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Variable name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Variable value"
                            }
                        ],
                        "type": "array",
                        "label": "Variables"
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "full name",
                        "type": "any",
                        "label": "full name"
                    },
                    {
                        "name": "company name",
                        "type": "any",
                        "label": "company name"
                    },
                    {
                        "name": "title",
                        "type": "any",
                        "label": "title"
                    },
                    {
                        "name": "linkedin",
                        "type": "any",
                        "label": "linkedin"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "apify:runActorNew",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 10165574
            },
            "mapper": {
                "actorId": "2SyF0bVxmgGr8IVCZ",
                "runSync": false,
                "actor_search_type": "user",
                "inputBody2SyF0bVxmgGr8IVCZ": "{\n    \"profileUrls\": [\n        \"{{2.linkedin}}\"\n    ]\n}"
            },
            "metadata": {
                "designer": {
                    "x": 595,
                    "y": -5
                },
                "restore": {
                    "expect": {
                        "memory": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "actorId": {
                            "mode": "chose",
                            "label": "✨Mass Linkedin Profile Scraper with Email 📧 (No Cookies) (dev_fusion/Linkedin-Profile-Scraper)"
                        },
                        "runSync": {
                            "mode": "chose"
                        },
                        "actor_search_type": {
                            "label": "Recently used Actors"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "apify"
                            },
                            "label": "My Apify API Token connection (2005fadiakl@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:apify2,apify",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "actor_search_type",
                        "type": "select",
                        "label": "Search Actors from",
                        "required": true,
                        "validate": {
                            "enum": [
                                "user",
                                "store"
                            ]
                        }
                    },
                    {
                        "name": "runSync",
                        "type": "boolean",
                        "label": "Run synchronously",
                        "required": true
                    },
                    {
                        "name": "build",
                        "type": "text",
                        "label": "Build"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout"
                    },
                    {
                        "name": "memory",
                        "type": "select",
                        "label": "Memory",
                        "validate": {
                            "enum": [
                                128,
                                256,
                                512,
                                1024,
                                2048,
                                4096,
                                8192,
                                16384,
                                32768
                            ]
                        }
                    },
                    {
                        "name": "actorId",
                        "type": "select",
                        "label": "Actor",
                        "required": true
                    },
                    {
                        "name": "inputBody2SyF0bVxmgGr8IVCZ",
                        "type": "text",
                        "label": "Input JSON",
                        "required": true
                    },
                    {
                        "name": "maxTotalChargeUsd",
                        "type": "hidden",
                        "label": "Maximum cost per run"
                    },
                    {
                        "name": "maxItems",
                        "type": "number",
                        "label": "Maximum charged results"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "util:FunctionSleep",
            "version": 1,
            "parameters": {},
            "mapper": {
                "duration": "15"
            },
            "metadata": {
                "designer": {
                    "x": 887,
                    "y": 1
                },
                "restore": {},
                "expect": [
                    {
                        "name": "duration",
                        "type": "uinteger",
                        "label": "Delay",
                        "required": true,
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "apify:fetchDatasetItems",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 10165574
            },
            "mapper": {
                "type": "clean",
                "limit": "100",
                "format": "json",
                "datasetId": "{{4.defaultDatasetId}}"
            },
            "metadata": {
                "designer": {
                    "x": 1209,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "type": {
                            "mode": "chose",
                            "label": "Clean"
                        },
                        "format": {
                            "mode": "chose",
                            "label": "JSON"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "apify"
                            },
                            "label": "My Apify API Token connection (2005fadiakl@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:apify2,apify",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "datasetId",
                        "type": "text",
                        "label": "Dataset ID",
                        "required": true
                    },
                    {
                        "name": "type",
                        "type": "select",
                        "label": "Data transformation",
                        "required": true,
                        "validate": {
                            "enum": [
                                "clean",
                                "simplified",
                                "none"
                            ]
                        }
                    },
                    {
                        "name": "format",
                        "type": "select",
                        "label": "Format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "json",
                                "csv",
                                "html",
                                "xml",
                                "rss",
                                "xlsx"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "validate": {
                            "max": 100000,
                            "min": 1
                        }
                    },
                    {
                        "name": "offset",
                        "type": "uinteger",
                        "label": "Offset",
                        "validate": {
                            "min": 0
                        }
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "openai-gpt-3:createModelResponse",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 7669502
            },
            "mapper": {
                "input": "Task\nGenerate a concise, personalized icebreaker from a LinkedIn “About” section. Output must be factual and based only on the provided text.\n\nInput Provided {{6.about}}{{6.fullName}}\n\n\nInstructions\n\nRead only {{6.about}}\n\nIf it contains clear skills, achievements, or focus areas → base the icebreaker on those.\n\nIf it is empty, extremely short, or contains no meaningful info → do not offer to create an About section.\nCreate a simple field-aligned opener instead, e.g. “Hey, I appreciate the work you’re doing in your field.”\n\nNo guessing. No invented facts.\n\nMax 25 words.\n\nOutput only the icebreaker line.\n\nExamples\n• “Noticed your background in supply-chain optimization and automation. Your shift toward data-driven processes stood out.”\n• “Your mix of real-estate marketing and CRM implementation caught my attention, especially your focus on conversion improvement.”\n• “Your work scaling SaaS partnerships is clear. The revenue-focused approach is strong.”\n• Low-info example: “Hey, I appreciate the work you’re doing in your field and wanted to reach out.”\noutput only the icebreaker sentence",
                "model": "gpt-5-mini",
                "store": true,
                "format": {},
                "reasoning": {},
                "background": false,
                "truncation": "auto",
                "inputContentType": "text",
                "createConversation": true,
                "parallel_tool_calls": true
            },
            "metadata": {
                "designer": {
                    "x": 1490,
                    "y": -1
                },
                "restore": {
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "gpt-5-mini (system)A faster, cost-efficient version of GPT-5 for well-defined tasks"
                        },
                        "store": {
                            "mode": "chose"
                        },
                        "tools": {
                            "mode": "chose"
                        },
                        "format": {
                            "nested": {
                                "type": {
                                    "mode": "chose",
                                    "label": "Empty"
                                }
                            }
                        },
                        "include": {
                            "mode": "chose"
                        },
                        "metadata": {
                            "mode": "chose"
                        },
                        "reasoning": {
                            "nested": {
                                "effort": {
                                    "mode": "chose",
                                    "label": "Empty"
                                },
                                "summary": {
                                    "mode": "chose",
                                    "label": "Empty"
                                }
                            }
                        },
                        "background": {
                            "mode": "chose"
                        },
                        "truncation": {
                            "mode": "chose",
                            "label": "Auto"
                        },
                        "tool_choice": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "inputContentType": {
                            "mode": "chose",
                            "label": "Text prompt"
                        },
                        "createConversation": {
                            "mode": "chose"
                        },
                        "parallel_tool_calls": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "My OpenAI connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "inputContentType",
                        "type": "select",
                        "label": "Prompt Type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "text",
                                "image",
                                "file",
                                "prompt",
                                "items"
                            ]
                        }
                    },
                    {
                        "name": "max_output_tokens",
                        "type": "integer",
                        "label": "Max Output Tokens"
                    },
                    {
                        "name": "tools",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Type",
                                    "options": [
                                        {
                                            "label": "File search",
                                            "value": "file_search",
                                            "nested": [
                                                {
                                                    "help": "The IDs of the vector stores to search.",
                                                    "name": "vector_store_ids",
                                                    "type": "select",
                                                    "label": "Vector Store IDs",
                                                    "options": "rpc://openai-gpt-3/1/getVectorStores",
                                                    "multiple": true,
                                                    "required": true,
                                                    "validate": {
                                                        "maxItems": 2
                                                    }
                                                },
                                                {
                                                    "help": "A filter to apply based on file attributes.",
                                                    "name": "filters",
                                                    "spec": [
                                                        {
                                                            "name": "type",
                                                            "type": "select",
                                                            "label": "Type",
                                                            "options": [
                                                                {
                                                                    "label": "Equals",
                                                                    "value": "eq",
                                                                    "nested": [
                                                                        {
                                                                            "help": "The key to compare against the value.",
                                                                            "name": "key",
                                                                            "type": "text",
                                                                            "label": "Key",
                                                                            "required": true
                                                                        },
                                                                        {
                                                                            "help": "The value to compare against the attribute key",
                                                                            "name": "value",
                                                                            "type": "any",
                                                                            "label": "Value",
                                                                            "required": true
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "label": "Not equal",
                                                                    "value": "ne",
                                                                    "nested": [
                                                                        {
                                                                            "help": "The key to compare against the value.",
                                                                            "name": "key",
                                                                            "type": "text",
                                                                            "label": "Key",
                                                                            "required": true
                                                                        },
                                                                        {
                                                                            "help": "The value to compare against the attribute key",
                                                                            "name": "value",
                                                                            "type": "any",
                                                                            "label": "Value",
                                                                            "required": true
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "label": "Greater than",
                                                                    "value": "gt",
                                                                    "nested": [
                                                                        {
                                                                            "help": "The key to compare against the value.",
                                                                            "name": "key",
                                                                            "type": "text",
                                                                            "label": "Key",
                                                                            "required": true
                                                                        },
                                                                        {
                                                                            "help": "The value to compare against the attribute key",
                                                                            "name": "value",
                                                                            "type": "any",
                                                                            "label": "Value",
                                                                            "required": true
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "label": "Greater than or equal",
                                                                    "value": "gte",
                                                                    "nested": [
                                                                        {
                                                                            "help": "The key to compare against the value.",
                                                                            "name": "key",
                                                                            "type": "text",
                                                                            "label": "Key",
                                                                            "required": true
                                                                        },
                                                                        {
                                                                            "help": "The value to compare against the attribute key",
                                                                            "name": "value",
                                                                            "type": "any",
                                                                            "label": "Value",
                                                                            "required": true
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "label": "Less than",
                                                                    "value": "lt",
                                                                    "nested": [
                                                                        {
                                                                            "help": "The key to compare against the value.",
                                                                            "name": "key",
                                                                            "type": "text",
                                                                            "label": "Key",
                                                                            "required": true
                                                                        },
                                                                        {
                                                                            "help": "The value to compare against the attribute key",
                                                                            "name": "value",
                                                                            "type": "any",
                                                                            "label": "Value",
                                                                            "required": true
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "label": "Less than or equal",
                                                                    "value": "lte",
                                                                    "nested": [
                                                                        {
                                                                            "help": "The key to compare against the value.",
                                                                            "name": "key",
                                                                            "type": "text",
                                                                            "label": "Key",
                                                                            "required": true
                                                                        },
                                                                        {
                                                                            "help": "The value to compare against the attribute key",
                                                                            "name": "value",
                                                                            "type": "any",
                                                                            "label": "Value",
                                                                            "required": true
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "label": "Compound filter [and]",
                                                                    "value": "and",
                                                                    "nested": [
                                                                        {
                                                                            "name": "filters",
                                                                            "spec": {
                                                                                "spec": [
                                                                                    {
                                                                                        "name": "type",
                                                                                        "type": "select",
                                                                                        "label": "Type",
                                                                                        "options": [
                                                                                            {
                                                                                                "label": "Equals",
                                                                                                "value": "eq"
                                                                                            },
                                                                                            {
                                                                                                "label": "Not equal",
                                                                                                "value": "ne"
                                                                                            },
                                                                                            {
                                                                                                "label": "Greater than",
                                                                                                "value": "gt"
                                                                                            },
                                                                                            {
                                                                                                "label": "Greater than or equal",
                                                                                                "value": "gte"
                                                                                            },
                                                                                            {
                                                                                                "label": "Less than",
                                                                                                "value": "lt"
                                                                                            },
                                                                                            {
                                                                                                "label": "Less than or equal",
                                                                                                "value": "lte"
                                                                                            }
                                                                                        ],
                                                                                        "required": true
                                                                                    },
                                                                                    {
                                                                                        "help": "The key to compare against the value.",
                                                                                        "name": "key",
                                                                                        "type": "text",
                                                                                        "label": "Key",
                                                                                        "required": true
                                                                                    },
                                                                                    {
                                                                                        "help": "The value to compare against the attribute key",
                                                                                        "name": "value",
                                                                                        "type": "any",
                                                                                        "label": "Value",
                                                                                        "required": true
                                                                                    }
                                                                                ],
                                                                                "type": "collection",
                                                                                "label": "Filter"
                                                                            },
                                                                            "type": "array",
                                                                            "label": "Filters",
                                                                            "labels": {
                                                                                "add": "Add filter"
                                                                            },
                                                                            "required": true
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "label": "Compound filter [or]",
                                                                    "value": "or",
                                                                    "nested": [
                                                                        {
                                                                            "name": "filters",
                                                                            "spec": {
                                                                                "spec": [
                                                                                    {
                                                                                        "name": "type",
                                                                                        "type": "select",
                                                                                        "label": "Type",
                                                                                        "options": [
                                                                                            {
                                                                                                "label": "Equals",
                                                                                                "value": "eq"
                                                                                            },
                                                                                            {
                                                                                                "label": "Not equal",
                                                                                                "value": "ne"
                                                                                            },
                                                                                            {
                                                                                                "label": "Greater than",
                                                                                                "value": "gt"
                                                                                            },
                                                                                            {
                                                                                                "label": "Greater than or equal",
                                                                                                "value": "gte"
                                                                                            },
                                                                                            {
                                                                                                "label": "Less than",
                                                                                                "value": "lt"
                                                                                            },
                                                                                            {
                                                                                                "label": "Less than or equal",
                                                                                                "value": "lte"
                                                                                            }
                                                                                        ],
                                                                                        "required": true
                                                                                    },
                                                                                    {
                                                                                        "help": "The key to compare against the value.",
                                                                                        "name": "key",
                                                                                        "type": "text",
                                                                                        "label": "Key",
                                                                                        "required": true
                                                                                    },
                                                                                    {
                                                                                        "help": "The value to compare against the attribute key",
                                                                                        "name": "value",
                                                                                        "type": "any",
                                                                                        "label": "Value",
                                                                                        "required": true
                                                                                    }
                                                                                ],
                                                                                "type": "collection",
                                                                                "label": "Filter"
                                                                            },
                                                                            "type": "array",
                                                                            "label": "Filters",
                                                                            "labels": {
                                                                                "add": "Add filter"
                                                                            },
                                                                            "required": true
                                                                        }
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Filters"
                                                },
                                                {
                                                    "name": "max_num_results",
                                                    "type": "integer",
                                                    "label": "Max Results Number",
                                                    "validate": {
                                                        "max": 50,
                                                        "min": 1
                                                    }
                                                },
                                                {
                                                    "help": "Ranking options for search.",
                                                    "name": "ranking_options",
                                                    "spec": [
                                                        {
                                                            "help": "The ranker to use for the file search.",
                                                            "name": "ranker",
                                                            "type": "select",
                                                            "label": "Ranker",
                                                            "options": [
                                                                {
                                                                    "label": "auto",
                                                                    "value": "auto"
                                                                },
                                                                {
                                                                    "label": "default-2024-08-21",
                                                                    "value": "default-2024-08-21"
                                                                },
                                                                {
                                                                    "label": "default-2024-11-15",
                                                                    "value": "default-2024-11-15"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "help": "The score threshold for the file search. Numbers closer to `1` will attempt to return only the most relevant results, but may return fewer results.",
                                                            "name": "score_threshold",
                                                            "type": "number",
                                                            "label": "Score Threshold",
                                                            "validate": {
                                                                "max": 1,
                                                                "min": 0
                                                            }
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Ranking Options"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Function",
                                            "value": "function",
                                            "nested": [
                                                {
                                                    "help": "The name of the function to call.",
                                                    "name": "name",
                                                    "type": "text",
                                                    "label": "Name",
                                                    "required": true
                                                },
                                                {
                                                    "help": "A JSON schema object describing the parameters of the function.",
                                                    "name": "parameters",
                                                    "type": "json",
                                                    "label": "Parameters",
                                                    "required": true
                                                },
                                                {
                                                    "help": "Whether to enforce strict parameter validation.",
                                                    "name": "strict",
                                                    "type": "boolean",
                                                    "label": "Strict",
                                                    "default": true,
                                                    "required": true
                                                },
                                                {
                                                    "help": "A description of the function.",
                                                    "name": "description",
                                                    "type": "text",
                                                    "label": "Description"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Computer use preview",
                                            "value": "computer_use_preview",
                                            "nested": [
                                                {
                                                    "help": "The height of the computer display.",
                                                    "name": "display_height",
                                                    "type": "number",
                                                    "label": "Display Height",
                                                    "required": true
                                                },
                                                {
                                                    "help": "The width of the computer display.",
                                                    "name": "display_width",
                                                    "type": "number",
                                                    "label": "Display Width",
                                                    "required": true
                                                },
                                                {
                                                    "help": "The type of computer environment to control.",
                                                    "name": "environment",
                                                    "type": "select",
                                                    "label": "Environment",
                                                    "options": [
                                                        {
                                                            "label": "Windows",
                                                            "value": "windows"
                                                        },
                                                        {
                                                            "label": "Mac",
                                                            "value": "mac"
                                                        },
                                                        {
                                                            "label": "Linux",
                                                            "value": "linux"
                                                        },
                                                        {
                                                            "label": "Browser",
                                                            "value": "browser"
                                                        }
                                                    ],
                                                    "required": true
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Web search preview",
                                            "value": "web_search_preview",
                                            "nested": [
                                                {
                                                    "help": "High level guidance for the amount of context window space to use for the search. Medium is the default value.",
                                                    "name": "search_context_size",
                                                    "type": "select",
                                                    "label": "Search Context Size",
                                                    "options": [
                                                        {
                                                            "label": "Low",
                                                            "value": "low"
                                                        },
                                                        {
                                                            "label": "Medium",
                                                            "value": "medium"
                                                        },
                                                        {
                                                            "label": "High",
                                                            "value": "high"
                                                        }
                                                    ]
                                                },
                                                {
                                                    "help": "Approximate location parameters for the search.",
                                                    "name": "user_location",
                                                    "spec": [
                                                        {
                                                            "help": "The type of location approximation.",
                                                            "name": "type",
                                                            "type": "select",
                                                            "label": "Type",
                                                            "options": [
                                                                {
                                                                    "label": "Approximate",
                                                                    "value": "approximate"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "help": "The city of the user, e.g. `San Francisco`.",
                                                            "name": "city",
                                                            "type": "text",
                                                            "label": "City"
                                                        },
                                                        {
                                                            "help": "The two-letter ISO country code of the user, e.g. `US`.",
                                                            "name": "country",
                                                            "type": "select",
                                                            "label": "Country",
                                                            "options": "rpc://openai-gpt-3/1/getCountryCodes"
                                                        },
                                                        {
                                                            "help": "The region of the user, e.g. `California`.",
                                                            "name": "region",
                                                            "type": "text",
                                                            "label": "Region"
                                                        },
                                                        {
                                                            "help": "The timezone of the user, e.g. `America/Los_Angeles`.",
                                                            "name": "timezone",
                                                            "type": "timezone",
                                                            "label": "Timezone"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "User Location"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Web search preview (2025_03_11)",
                                            "value": "web_search_preview_2025_03_11",
                                            "nested": [
                                                {
                                                    "help": "High level guidance for the amount of context window space to use for the search. Medium is the default value.",
                                                    "name": "search_context_size",
                                                    "type": "select",
                                                    "label": "Search Context Size",
                                                    "options": [
                                                        {
                                                            "label": "Low",
                                                            "value": "low"
                                                        },
                                                        {
                                                            "label": "Medium",
                                                            "value": "medium"
                                                        },
                                                        {
                                                            "label": "High",
                                                            "value": "high"
                                                        }
                                                    ]
                                                },
                                                {
                                                    "help": "Approximate location parameters for the search.",
                                                    "name": "user_location",
                                                    "spec": [
                                                        {
                                                            "help": "The type of location approximation.",
                                                            "name": "type",
                                                            "type": "select",
                                                            "label": "Type",
                                                            "options": [
                                                                {
                                                                    "label": "Approximate",
                                                                    "value": "approximate"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "help": "The city of the user, e.g. `San Francisco`.",
                                                            "name": "city",
                                                            "type": "text",
                                                            "label": "City"
                                                        },
                                                        {
                                                            "help": "The two-letter ISO country code of the user, e.g. `US`.",
                                                            "name": "country",
                                                            "type": "select",
                                                            "label": "Country",
                                                            "options": "rpc://openai-gpt-3/1/getCountryCodes"
                                                        },
                                                        {
                                                            "help": "The region of the user, e.g. `California`.",
                                                            "name": "region",
                                                            "type": "text",
                                                            "label": "Region"
                                                        },
                                                        {
                                                            "help": "The timezone of the user, e.g. `America/Los_Angeles`.",
                                                            "name": "timezone",
                                                            "type": "timezone",
                                                            "label": "Timezone"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "User Location"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "MCP",
                                            "value": "mcp",
                                            "nested": [
                                                {
                                                    "text": "MCP requests will automatically be approved.",
                                                    "type": "banner",
                                                    "theme": "info"
                                                },
                                                {
                                                    "name": "require_approval",
                                                    "type": "hidden",
                                                    "label": "Require Approval",
                                                    "default": "never"
                                                },
                                                {
                                                    "help": "A label for this MCP server, used to identify it in tool calls.",
                                                    "name": "server_label",
                                                    "type": "text",
                                                    "label": "Server Label",
                                                    "required": true
                                                },
                                                {
                                                    "help": "The URL for the MCP server.",
                                                    "name": "server_url",
                                                    "type": "url",
                                                    "label": "Server URL",
                                                    "required": true
                                                },
                                                {
                                                    "help": "List of allowed tool names.",
                                                    "name": "allowed_tools",
                                                    "spec": {
                                                        "type": "text",
                                                        "label": "Tool"
                                                    },
                                                    "type": "array",
                                                    "label": "Allowed Tools",
                                                    "labels": {
                                                        "add": "Add allowed tool"
                                                    }
                                                },
                                                {
                                                    "help": "Optional HTTP headers to send to the MCP server. Use for authentication or other purposes.",
                                                    "name": "headers",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "name": "key",
                                                                "type": "text",
                                                                "label": "Key"
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Header"
                                                    },
                                                    "type": "array",
                                                    "label": "Headers",
                                                    "labels": {
                                                        "add": "Add header"
                                                    }
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Code interpreter",
                                            "value": "code_interpreter",
                                            "nested": [
                                                {
                                                    "help": "**Container**\nA container is a fully sandboxed virtual machine where the model runs Python code.\n\n**Expiration Time**\nContainers expire if unused for 20 minutes. The expiration timer is reset after any operation on the container.",
                                                    "name": "container_type",
                                                    "type": "select",
                                                    "label": "Container type",
                                                    "options": [
                                                        {
                                                            "label": "Use existing container",
                                                            "value": "existing_container",
                                                            "nested": [
                                                                {
                                                                    "name": "container",
                                                                    "type": "select",
                                                                    "label": "Container",
                                                                    "options": {
                                                                        "store": "rpc://openai-gpt-3/1/getContainers"
                                                                    },
                                                                    "mappable": {
                                                                        "help": "Map the container ID. For example: `cntr_6878d51b5ffc8191b7c32c11c747cf4e`."
                                                                    },
                                                                    "required": true
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Create new container",
                                                            "value": "new_container",
                                                            "nested": [
                                                                {
                                                                    "name": "container",
                                                                    "spec": [
                                                                        {
                                                                            "help": "An optional list of uploaded files to make available to your code.",
                                                                            "name": "file_ids",
                                                                            "spec": {
                                                                                "type": "select",
                                                                                "label": "File ID",
                                                                                "options": "rpc://openai-gpt-3/1/getFiles"
                                                                            },
                                                                            "type": "array",
                                                                            "label": "File IDs",
                                                                            "labels": {
                                                                                "add": "Add file ID"
                                                                            }
                                                                        }
                                                                    ],
                                                                    "type": "collection",
                                                                    "label": "Container"
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "required": true
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Image generation",
                                            "value": "image_generation",
                                            "nested": [
                                                {
                                                    "help": "Background type for the generated image.",
                                                    "name": "background",
                                                    "type": "select",
                                                    "label": "Background",
                                                    "options": [
                                                        {
                                                            "label": "Auto",
                                                            "value": "auto"
                                                        },
                                                        {
                                                            "label": "Transparent",
                                                            "value": "transparent"
                                                        },
                                                        {
                                                            "label": "Opaque",
                                                            "value": "opaque"
                                                        }
                                                    ]
                                                },
                                                {
                                                    "help": "Controls how much effort the model will exert to match the style and features of input images, especially facial features.",
                                                    "name": "input_fidelity",
                                                    "type": "select",
                                                    "label": "Input Fidelity",
                                                    "options": [
                                                        {
                                                            "label": "Low",
                                                            "value": "low"
                                                        },
                                                        {
                                                            "label": "High",
                                                            "value": "high"
                                                        }
                                                    ]
                                                },
                                                {
                                                    "help": "Optional mask for inpainting.",
                                                    "name": "input_image_mask",
                                                    "spec": [
                                                        {
                                                            "name": "mask_input_type",
                                                            "type": "select",
                                                            "label": "Mask Input Type",
                                                            "options": [
                                                                {
                                                                    "label": "File ID",
                                                                    "value": "id",
                                                                    "nested": [
                                                                        {
                                                                            "help": "The ID of the file to be sent to the model.",
                                                                            "name": "file_id",
                                                                            "type": "select",
                                                                            "label": "File ID",
                                                                            "options": "rpc://openai-gpt-3/1/getFiles",
                                                                            "required": true
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "label": "Image URL",
                                                                    "value": "url",
                                                                    "nested": [
                                                                        {
                                                                            "help": "The URL of the image to be sent to the model.",
                                                                            "name": "image_url",
                                                                            "type": "url",
                                                                            "label": "Image URL",
                                                                            "required": true
                                                                        }
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Input Image Mask"
                                                },
                                                {
                                                    "help": "Moderation level for the generated image.",
                                                    "name": "moderation",
                                                    "type": "select",
                                                    "label": "Moderation",
                                                    "options": [
                                                        {
                                                            "label": "Auto",
                                                            "value": "auto"
                                                        },
                                                        {
                                                            "label": "Low",
                                                            "value": "low"
                                                        }
                                                    ]
                                                },
                                                {
                                                    "help": "The output format of the generated image.",
                                                    "name": "output_format",
                                                    "type": "select",
                                                    "label": "Output Format",
                                                    "options": [
                                                        {
                                                            "label": "PNG",
                                                            "value": "png"
                                                        },
                                                        {
                                                            "label": "WEBP",
                                                            "value": "webp",
                                                            "nested": [
                                                                {
                                                                    "help": "Compression level for the output image.",
                                                                    "name": "output_compression",
                                                                    "type": "number",
                                                                    "label": "Output Compression",
                                                                    "validate": {
                                                                        "max": 100,
                                                                        "min": 0
                                                                    }
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "JPEG",
                                                            "value": "jpeg",
                                                            "nested": [
                                                                {
                                                                    "help": "Compression level for the output image.",
                                                                    "name": "output_compression",
                                                                    "type": "number",
                                                                    "label": "Output Compression",
                                                                    "validate": {
                                                                        "max": 100,
                                                                        "min": 0
                                                                    }
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                },
                                                {
                                                    "help": "The quality of the generated image.",
                                                    "name": "quality",
                                                    "type": "select",
                                                    "label": "Quality",
                                                    "options": [
                                                        {
                                                            "label": "Auto",
                                                            "value": "auto"
                                                        },
                                                        {
                                                            "label": "Low",
                                                            "value": "low"
                                                        },
                                                        {
                                                            "label": "Medium",
                                                            "value": "medium"
                                                        },
                                                        {
                                                            "label": "High",
                                                            "value": "high"
                                                        }
                                                    ]
                                                },
                                                {
                                                    "help": "The size of the generated image.",
                                                    "name": "size",
                                                    "type": "select",
                                                    "label": "Size",
                                                    "options": [
                                                        {
                                                            "label": "1024x1024",
                                                            "value": "1024x1024"
                                                        },
                                                        {
                                                            "label": "1024x1536",
                                                            "value": "1024x1536"
                                                        },
                                                        {
                                                            "label": "1536x1024",
                                                            "value": "1536x1024"
                                                        }
                                                    ]
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Custom",
                                            "value": "custom",
                                            "nested": [
                                                {
                                                    "help": "The name of the custom tool, used to identify it in tool calls, for example: `abc`, `abc_defg`.",
                                                    "name": "name",
                                                    "type": "text",
                                                    "label": "Name",
                                                    "required": true
                                                },
                                                {
                                                    "help": "Description of the custom tool, used to provide more context.",
                                                    "name": "description",
                                                    "type": "text",
                                                    "label": "Description"
                                                },
                                                {
                                                    "name": "format",
                                                    "spec": [
                                                        {
                                                            "name": "type",
                                                            "type": "select",
                                                            "label": "Type",
                                                            "options": [
                                                                {
                                                                    "label": "Text",
                                                                    "value": "text"
                                                                },
                                                                {
                                                                    "label": "Grammar",
                                                                    "value": "grammar",
                                                                    "nested": [
                                                                        {
                                                                            "help": "The syntax of the grammar definition.",
                                                                            "name": "syntax",
                                                                            "type": "select",
                                                                            "label": "Syntax",
                                                                            "options": [
                                                                                {
                                                                                    "label": "Lark",
                                                                                    "value": "lark"
                                                                                },
                                                                                {
                                                                                    "label": "Regex",
                                                                                    "value": "regex"
                                                                                }
                                                                            ],
                                                                            "required": true
                                                                        },
                                                                        {
                                                                            "help": "The grammar definition.",
                                                                            "name": "definition",
                                                                            "type": "text",
                                                                            "label": "Definition",
                                                                            "required": true
                                                                        }
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Format"
                                                }
                                            ]
                                        }
                                    ],
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Tool"
                        },
                        "type": "array",
                        "label": "Tools"
                    },
                    {
                        "name": "tool_choice",
                        "type": "select",
                        "label": "Tool Choice",
                        "validate": {
                            "enum": [
                                "none",
                                "auto",
                                "required",
                                "file_search",
                                "web_search_preview",
                                "computer_use_preview",
                                "code_interpreter",
                                "function",
                                "custom",
                                "allowed_tools"
                            ]
                        }
                    },
                    {
                        "name": "parallel_tool_calls",
                        "type": "boolean",
                        "label": "Parallel Tool Calls"
                    },
                    {
                        "name": "background",
                        "type": "boolean",
                        "label": "Run in Background"
                    },
                    {
                        "name": "conversationId",
                        "type": "text",
                        "label": "Conversation ID"
                    },
                    {
                        "name": "createConversation",
                        "type": "boolean",
                        "label": "Create a new conversation",
                        "required": true
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P"
                    },
                    {
                        "name": "store",
                        "type": "boolean",
                        "label": "Store"
                    },
                    {
                        "name": "previous_response_id",
                        "type": "text",
                        "label": "Previous Response ID"
                    },
                    {
                        "name": "instructions",
                        "type": "text",
                        "label": "Instructions"
                    },
                    {
                        "name": "reasoning",
                        "spec": [
                            {
                                "name": "effort",
                                "type": "select",
                                "label": "Effort",
                                "validate": {
                                    "enum": [
                                        "minimal",
                                        "low",
                                        "medium",
                                        "high"
                                    ]
                                }
                            },
                            {
                                "name": "summary",
                                "type": "select",
                                "label": "Summary",
                                "validate": {
                                    "enum": [
                                        "auto",
                                        "concise",
                                        "detailed"
                                    ]
                                }
                            }
                        ],
                        "type": "collection",
                        "label": "Reasoning"
                    },
                    {
                        "name": "format",
                        "spec": [
                            {
                                "name": "type",
                                "type": "select",
                                "label": "Type",
                                "validate": {
                                    "enum": [
                                        "text",
                                        "json_schema",
                                        "json_object"
                                    ]
                                }
                            }
                        ],
                        "type": "collection",
                        "label": "Output Format"
                    },
                    {
                        "name": "truncation",
                        "type": "select",
                        "label": "Truncation",
                        "validate": {
                            "enum": [
                                "auto",
                                "disabled"
                            ]
                        }
                    },
                    {
                        "name": "include",
                        "type": "select",
                        "label": "Include",
                        "multiple": true,
                        "validate": {
                            "enum": [
                                "file_search_call.results",
                                "code_interpreter_call.outputs",
                                "message.input_image.image_url",
                                "computer_call_output.output.image_url"
                            ]
                        }
                    },
                    {
                        "name": "metadata",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Key"
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Metadata"
                        },
                        "type": "array",
                        "label": "Metadata"
                    },
                    {
                        "name": "input",
                        "type": "text",
                        "label": "Prompt"
                    }
                ],
                "interface": [
                    {
                        "name": "result",
                        "spec": [
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name",
                                "semantic": "file:name"
                            },
                            {
                                "name": "filedata",
                                "type": "buffer",
                                "label": "File data",
                                "semantic": "file:data"
                            }
                        ],
                        "type": "collection",
                        "label": "Result"
                    },
                    {
                        "name": "conversationId",
                        "type": "text",
                        "label": "Conversation ID"
                    },
                    {
                        "name": "raw_result",
                        "type": "any",
                        "label": "Raw Result"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Response ID"
                    },
                    {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                    },
                    {
                        "name": "created_at",
                        "type": "date",
                        "label": "Created at"
                    },
                    {
                        "name": "status",
                        "type": "text",
                        "label": "Status"
                    },
                    {
                        "name": "background",
                        "type": "boolean",
                        "label": "Background"
                    },
                    {
                        "name": "billing",
                        "spec": [
                            {
                                "name": "payer",
                                "type": "text",
                                "label": "Payer"
                            }
                        ],
                        "type": "collection",
                        "label": "Billing"
                    },
                    {
                        "name": "error",
                        "type": "text",
                        "label": "Error"
                    },
                    {
                        "name": "max_tool_calls",
                        "type": "number",
                        "label": "Max Tool Calls"
                    },
                    {
                        "name": "top_logprobs",
                        "type": "number",
                        "label": "Top Logprobs"
                    },
                    {
                        "name": "incomplete_details",
                        "spec": [
                            {
                                "name": "reason",
                                "type": "text",
                                "label": "Reason"
                            }
                        ],
                        "type": "collection",
                        "label": "Incomplete Details"
                    },
                    {
                        "name": "instructions",
                        "type": "any",
                        "label": "Instructions"
                    },
                    {
                        "name": "max_output_tokens",
                        "type": "number",
                        "label": "Max Output Tokens"
                    },
                    {
                        "name": "model",
                        "type": "text",
                        "label": "Model"
                    },
                    {
                        "name": "output",
                        "spec": [
                            {
                                "name": "input",
                                "type": "text",
                                "label": "Input"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "server_label",
                                "type": "text",
                                "label": "Server Label"
                            },
                            {
                                "name": "background",
                                "type": "text",
                                "label": "Background"
                            },
                            {
                                "name": "moderation",
                                "type": "text",
                                "label": "Moderation"
                            },
                            {
                                "name": "n",
                                "type": "number",
                                "label": "N"
                            },
                            {
                                "name": "output_compression",
                                "type": "number",
                                "label": "Output compression"
                            },
                            {
                                "name": "output_format",
                                "type": "text",
                                "label": "Output format"
                            },
                            {
                                "name": "quality",
                                "type": "text",
                                "label": "Quality"
                            },
                            {
                                "name": "size",
                                "type": "text",
                                "label": "Size"
                            },
                            {
                                "name": "revised_prompt",
                                "type": "text",
                                "label": "Revised Prompt"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name",
                                "semantic": "file:name"
                            },
                            {
                                "name": "filedata",
                                "type": "buffer",
                                "label": "File data",
                                "semantic": "file:data"
                            },
                            {
                                "name": "tools",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "annotations",
                                            "type": "text",
                                            "label": "Annotations"
                                        },
                                        {
                                            "name": "description",
                                            "type": "text",
                                            "label": "Description"
                                        },
                                        {
                                            "name": "input_schema",
                                            "spec": [
                                                {
                                                    "name": "type",
                                                    "type": "text",
                                                    "label": "Type"
                                                },
                                                {
                                                    "name": "properties",
                                                    "spec": [
                                                        {
                                                            "name": "query",
                                                            "spec": [
                                                                {
                                                                    "name": "type",
                                                                    "type": "text",
                                                                    "label": "Type"
                                                                },
                                                                {
                                                                    "name": "description",
                                                                    "type": "text",
                                                                    "label": "Description"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Query"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Properties"
                                                },
                                                {
                                                    "name": "required",
                                                    "spec": {
                                                        "type": "text"
                                                    },
                                                    "type": "array",
                                                    "label": "Required"
                                                },
                                                {
                                                    "name": "additionalProperties",
                                                    "type": "boolean",
                                                    "label": "Additional Properties"
                                                },
                                                {
                                                    "name": "$schema",
                                                    "type": "text",
                                                    "label": "Schema"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Input Schema"
                                        },
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        },
                                        {
                                            "name": "container",
                                            "spec": [
                                                {
                                                    "name": "type",
                                                    "type": "text",
                                                    "label": "Type"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Container"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array",
                                "label": "Tools"
                            },
                            {
                                "name": "approval_request_id",
                                "type": "text",
                                "label": "Approval Request ID"
                            },
                            {
                                "name": "error",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "content",
                                        "spec": {
                                            "spec": [
                                                {
                                                    "name": "type",
                                                    "type": "text",
                                                    "label": "Type"
                                                },
                                                {
                                                    "name": "text",
                                                    "type": "text",
                                                    "label": "Text"
                                                },
                                                {
                                                    "name": "annotations",
                                                    "type": "text",
                                                    "label": "Annotations"
                                                }
                                            ],
                                            "type": "collection"
                                        },
                                        "type": "array",
                                        "label": "Content"
                                    }
                                ],
                                "type": "collection",
                                "label": "Error"
                            },
                            {
                                "name": "output",
                                "type": "text",
                                "label": "Output"
                            },
                            {
                                "name": "status",
                                "type": "text",
                                "label": "Status"
                            },
                            {
                                "name": "queries",
                                "spec": {
                                    "type": "text"
                                },
                                "type": "array",
                                "label": "Queries"
                            },
                            {
                                "name": "results",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "attributes",
                                            "type": "collection",
                                            "label": "Attributes"
                                        },
                                        {
                                            "name": "file_id",
                                            "type": "text",
                                            "label": "File ID"
                                        },
                                        {
                                            "name": "filename",
                                            "type": "text",
                                            "label": "File name"
                                        },
                                        {
                                            "name": "score",
                                            "type": "number",
                                            "label": "Score"
                                        },
                                        {
                                            "name": "text",
                                            "type": "text",
                                            "label": "Text"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array",
                                "label": "Results"
                            },
                            {
                                "name": "role",
                                "type": "text",
                                "label": "Role"
                            },
                            {
                                "name": "call_id",
                                "type": "text",
                                "label": "Call ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "arguments",
                                "type": "text",
                                "label": "Arguments"
                            },
                            {
                                "name": "summary",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "type": "array",
                                "label": "Summary"
                            },
                            {
                                "name": "content",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "text",
                                            "type": "text",
                                            "label": "Text"
                                        },
                                        {
                                            "name": "annotations",
                                            "spec": {
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "text",
                                                        "label": "Type"
                                                    },
                                                    {
                                                        "name": "container_id",
                                                        "type": "text",
                                                        "label": "Container ID"
                                                    },
                                                    {
                                                        "name": "end_index",
                                                        "type": "uinteger",
                                                        "label": "End Index"
                                                    },
                                                    {
                                                        "name": "start_index",
                                                        "type": "uinteger",
                                                        "label": "Start Index"
                                                    },
                                                    {
                                                        "name": "title",
                                                        "type": "text",
                                                        "label": "Title"
                                                    },
                                                    {
                                                        "name": "file_id",
                                                        "type": "text",
                                                        "label": "File ID"
                                                    },
                                                    {
                                                        "name": "filename",
                                                        "type": "text",
                                                        "label": "File name"
                                                    },
                                                    {
                                                        "name": "index",
                                                        "type": "uinteger",
                                                        "label": "Index"
                                                    },
                                                    {
                                                        "name": "url",
                                                        "type": "url",
                                                        "label": "URL"
                                                    },
                                                    {
                                                        "name": "container_id",
                                                        "type": "text",
                                                        "label": "Container ID"
                                                    }
                                                ],
                                                "type": "collection"
                                            },
                                            "type": "array",
                                            "label": "Annotations"
                                        },
                                        {
                                            "name": "logprobs",
                                            "spec": {
                                                "type": "text"
                                            },
                                            "type": "array",
                                            "label": "Logprobs"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array",
                                "label": "Content"
                            },
                            {
                                "name": "code",
                                "type": "text",
                                "label": "Code"
                            },
                            {
                                "name": "container_id",
                                "type": "text",
                                "label": "Container ID"
                            },
                            {
                                "name": "outputs",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "filename",
                                            "type": "text",
                                            "label": "Filename",
                                            "semantic": "file:name"
                                        },
                                        {
                                            "name": "filedata",
                                            "type": "buffer",
                                            "label": "Data",
                                            "semantic": "file:data"
                                        },
                                        {
                                            "name": "url",
                                            "type": "text",
                                            "label": "Base64 data URL"
                                        },
                                        {
                                            "name": "logs",
                                            "type": "text",
                                            "label": "Logs"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array",
                                "label": "Outputs"
                            }
                        ],
                        "type": "array",
                        "label": "Output"
                    },
                    {
                        "name": "parallel_tool_calls",
                        "type": "boolean",
                        "label": "Parallel Tool Calls"
                    },
                    {
                        "name": "previous_response_id",
                        "type": "text",
                        "label": "Previous Response ID"
                    },
                    {
                        "name": "prompt",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "variables",
                                "type": "array",
                                "label": "Variables"
                            },
                            {
                                "name": "version",
                                "type": "text",
                                "label": "Version"
                            }
                        ],
                        "type": "collection",
                        "label": "Prompt"
                    },
                    {
                        "name": "reasoning",
                        "spec": [
                            {
                                "name": "effort",
                                "type": "text",
                                "label": "Effort"
                            },
                            {
                                "name": "summary",
                                "type": "text",
                                "label": "Summary"
                            }
                        ],
                        "type": "collection",
                        "label": "Reasoning"
                    },
                    {
                        "name": "service_tier",
                        "type": "text",
                        "label": "Service Tier"
                    },
                    {
                        "name": "store",
                        "type": "boolean",
                        "label": "Store"
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature"
                    },
                    {
                        "name": "text",
                        "spec": [
                            {
                                "name": "format",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "description",
                                        "type": "text",
                                        "label": "Description"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "schema",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "properties",
                                                "type": "collection",
                                                "label": "Properties"
                                            },
                                            {
                                                "name": "additionalProperties",
                                                "type": "boolean",
                                                "label": "Additional Properties"
                                            },
                                            {
                                                "name": "required",
                                                "type": "array",
                                                "label": "Required"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Schema"
                                    },
                                    {
                                        "name": "strict",
                                        "type": "boolean",
                                        "label": "Strict"
                                    }
                                ],
                                "type": "collection",
                                "label": "Format"
                            },
                            {
                                "name": "verbosity",
                                "type": "text",
                                "label": "Verbosity"
                            }
                        ],
                        "type": "collection",
                        "label": "Text"
                    },
                    {
                        "name": "tool_choice",
                        "spec": [
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "mode",
                                "type": "text",
                                "label": "Mode"
                            },
                            {
                                "name": "tools",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "server_label",
                                        "type": "text",
                                        "label": "Server Label"
                                    }
                                ],
                                "type": "array",
                                "label": "Tools"
                            }
                        ],
                        "type": "collection",
                        "label": "Tool Choice"
                    },
                    {
                        "name": "tools",
                        "spec": {
                            "spec": [
                                {
                                    "name": "type",
                                    "type": "text",
                                    "label": "Type"
                                },
                                {
                                    "name": "search_context_size",
                                    "type": "text",
                                    "label": "Search Context Size"
                                },
                                {
                                    "name": "user_location",
                                    "spec": [
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "city",
                                            "type": "text",
                                            "label": "City"
                                        },
                                        {
                                            "name": "country",
                                            "type": "text",
                                            "label": "Country"
                                        },
                                        {
                                            "name": "region",
                                            "type": "text",
                                            "label": "Region"
                                        },
                                        {
                                            "name": "timezone",
                                            "type": "timezone",
                                            "label": "Timezone"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "User Location"
                                },
                                {
                                    "name": "description",
                                    "type": "text",
                                    "label": "Description"
                                },
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name"
                                },
                                {
                                    "name": "allowed_tools",
                                    "type": "text",
                                    "label": "Allowed Tools"
                                },
                                {
                                    "name": "headers",
                                    "type": "collection",
                                    "label": "Headers"
                                },
                                {
                                    "name": "require_approval",
                                    "type": "text",
                                    "label": "Require Approval"
                                },
                                {
                                    "name": "server_label",
                                    "type": "text",
                                    "label": "Server Label"
                                },
                                {
                                    "name": "server_url",
                                    "type": "url",
                                    "label": "Server URL"
                                },
                                {
                                    "name": "parameters",
                                    "type": "collection",
                                    "label": "Parameters"
                                },
                                {
                                    "name": "strict",
                                    "type": "boolean",
                                    "label": "Strict"
                                },
                                {
                                    "name": "filters",
                                    "spec": [
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "key",
                                            "type": "text",
                                            "label": "Key"
                                        },
                                        {
                                            "name": "value",
                                            "type": "text",
                                            "label": "Value"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Filters"
                                },
                                {
                                    "name": "max_num_results",
                                    "type": "number",
                                    "label": "Max Results Number"
                                },
                                {
                                    "name": "ranking_options",
                                    "spec": [
                                        {
                                            "name": "ranker",
                                            "type": "text",
                                            "label": "Ranker"
                                        },
                                        {
                                            "name": "score_threshold",
                                            "type": "number",
                                            "label": "Score Threshold"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Ranking Options"
                                },
                                {
                                    "name": "vector_store_ids",
                                    "spec": {
                                        "type": "text"
                                    },
                                    "type": "array",
                                    "label": "Vector Store IDs"
                                },
                                {
                                    "name": "container",
                                    "spec": [
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "file_ids",
                                            "spec": {
                                                "type": "text"
                                            },
                                            "type": "array",
                                            "label": "File ids"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Container"
                                },
                                {
                                    "name": "format",
                                    "spec": [
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "definition",
                                            "type": "text",
                                            "label": "Definition"
                                        },
                                        {
                                            "name": "syntax",
                                            "type": "text",
                                            "label": "Syntax"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Format"
                                },
                                {
                                    "name": "background",
                                    "type": "text",
                                    "label": "Background"
                                },
                                {
                                    "name": "moderation",
                                    "type": "text",
                                    "label": "Moderation"
                                },
                                {
                                    "name": "n",
                                    "type": "number",
                                    "label": "N"
                                },
                                {
                                    "name": "output_compression",
                                    "type": "number",
                                    "label": "Output compression"
                                },
                                {
                                    "name": "output_format",
                                    "type": "text",
                                    "label": "Output format"
                                },
                                {
                                    "name": "quality",
                                    "type": "text",
                                    "label": "Quality"
                                },
                                {
                                    "name": "size",
                                    "type": "text",
                                    "label": "Size"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Tools"
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P"
                    },
                    {
                        "name": "truncation",
                        "type": "text",
                        "label": "Truncation"
                    },
                    {
                        "name": "usage",
                        "spec": [
                            {
                                "name": "input_tokens",
                                "type": "number",
                                "label": "Input Tokens"
                            },
                            {
                                "name": "input_tokens_details",
                                "spec": [
                                    {
                                        "name": "cached_tokens",
                                        "type": "number",
                                        "label": "Cached Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Input Tokens Details"
                            },
                            {
                                "name": "output_tokens",
                                "type": "number",
                                "label": "Output Tokens"
                            },
                            {
                                "name": "output_tokens_details",
                                "spec": [
                                    {
                                        "name": "reasoning_tokens",
                                        "type": "number",
                                        "label": "Reasoning Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Output Tokens Details"
                            },
                            {
                                "name": "total_tokens",
                                "type": "number",
                                "label": "Total Tokens"
                            }
                        ],
                        "type": "collection",
                        "label": "Usage"
                    },
                    {
                        "name": "user",
                        "type": "text",
                        "label": "User"
                    },
                    {
                        "name": "metadata",
                        "type": "collection",
                        "label": "Metadata"
                    },
                    {
                        "name": "prompt_cache_key",
                        "type": "text",
                        "label": "Prompt Cache Key"
                    },
                    {
                        "name": "safety_identifier",
                        "type": "text",
                        "label": "Safety Identifier"
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "scope": "roundtrip",
                "variables": [
                    {
                        "name": "full name",
                        "value": "{{2.`full name`}}"
                    },
                    {
                        "name": "company name",
                        "value": "{{2.`company name`}}"
                    },
                    {
                        "name": "Job title ",
                        "value": "{{2.title}}"
                    },
                    {
                        "name": "email",
                        "value": "{{1.`22`}}"
                    },
                    {
                        "name": "Icebreaker",
                        "value": "{{3.result.filename}}"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 1790,
                    "y": -1
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        },
                        "variables": {
                            "items": [
                                null,
                                null,
                                null,
                                null,
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Variable name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Variable value"
                            }
                        ],
                        "type": "array",
                        "label": "Variables"
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "full name",
                        "type": "any",
                        "label": "full name"
                    },
                    {
                        "name": "company name",
                        "type": "any",
                        "label": "company name"
                    },
                    {
                        "name": "Job title ",
                        "type": "any",
                        "label": "Job title "
                    },
                    {
                        "name": "email",
                        "type": "any",
                        "label": "email"
                    },
                    {
                        "name": "Icebreaker",
                        "type": "any",
                        "label": "Icebreaker"
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": true,
                "useNewZLibDeCompress": true
            },
            "mapper": {
                "ca": "",
                "qs": [],
                "url": "https://api.instantly.ai/api/v2/leads",
                "data": "{\n  \"campaign\": \"2f1113b6-42fd-43db-bc9e-ce6409bcdc68\",\n  \"email\": \"{{8.email}}\",\n  \"first_name\": \"{{get(split(8.`full name`; ); 1)}}\",\n  \"last_name\": \"{{get(split(8.`full name`; ); 2)}}\",\n  \"company_name\": \"{{8.`company name`}}\",\n  \"skip_if_in_workspace\": true,\n  \"custom_variables\": {\n    \"Icebreaker\": \"{{replace(3.result.filename; newline; \"\\n\")}}\"\n  }\n}",
                "gzip": true,
                "method": "post",
                "headers": [
                    {
                        "name": "Authorization",
                        "value": "Bearer NDRmZDlkM2MtOTMxOS00NzFhLWJmYzctNDBhYjU0ZmI4N2Y2OnZhRHdPRkVJcHhDUQ=="
                    }
                ],
                "timeout": "",
                "useMtls": false,
                "authPass": "",
                "authUser": "",
                "bodyType": "raw",
                "contentType": "application/json",
                "serializeUrl": false,
                "shareCookies": false,
                "parseResponse": false,
                "followRedirect": true,
                "useQuerystring": false,
                "followAllRedirects": false,
                "rejectUnauthorized": true
            },
            "metadata": {
                "designer": {
                    "x": 2098,
                    "y": -3
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "mode": "chose"
                        },
                        "method": {
                            "mode": "chose",
                            "label": "POST"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "bodyType": {
                            "label": "Raw"
                        },
                        "contentType": {
                            "label": "JSON (application/json)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    },
                    {
                        "name": "useNewZLibDeCompress",
                        "type": "hidden"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "authUser",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "authPass",
                        "type": "password",
                        "label": "Password"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate"
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "useMtls",
                        "type": "boolean",
                        "label": "Use Mutual TLS",
                        "required": true
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Content type",
                        "validate": {
                            "enum": [
                                "text/plain",
                                "application/json",
                                "application/xml",
                                "text/xml",
                                "text/html",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Request content"
                    },
                    {
                        "name": "followAllRedirects",
                        "type": "boolean",
                        "label": "Follow all redirect",
                        "required": true
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}